/* default*/
$background: #383B3C;
$black: #1B1D1F;
$white: #444C52;


/*
$background: #383B3C;
$black: #30566E;
$white: #AC9145;
*/


html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	display: table;
	margin: 0;
	padding:0;
	width: 100%;
	height: 100%;
	background-color: $background;
}

.container {
	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align: middle;	
}

.chessboard {
	width: 480px;
	height: 480px;
	margin: 0px auto;
}

.field {
	width: 60px;
	height: 60px;
	background-color: $black;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	float: left;
}

.field:nth-child(n+1):nth-child(-n+8):nth-child(odd),
.field:nth-child(n+9):nth-child(-n+16):nth-child(even),
.field:nth-child(n+17):nth-child(-n+24):nth-child(odd),
.field:nth-child(n+25):nth-child(-n+32):nth-child(even),
.field:nth-child(n+33):nth-child(-n+40):nth-child(odd),
.field:nth-child(n+41):nth-child(-n+48):nth-child(even),
.field:nth-child(n+49):nth-child(-n+56):nth-child(odd),
.field:nth-child(n+57):nth-child(-n+64):nth-child(even) {
	background-color: $white;
}

.field:hover {
	border: 1px solid #FF0000;
}





/* toggle tests */



.toggle-btn {
	position: absolute;
	margin-left: -9999px;
	visibility: hidden;
}

.toggle-btn + label {
	display: block;
  	position: relative;
  	cursor: pointer;
  	outline: none;
  	user-select: none;
}

input.figure-toggle + label {

	width: 60px;
	height: 60px;
	background-repeat: no-repeat;
	background-size: contain;
}

input.figure-toggle:checked + label {
	background-color: $white;
}

/*
input.figure-toggle + label {
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='45' height='45'><g style='fill:none; fill-opacity:1; fill-rule:evenodd; stroke:"+$black+"; stroke-width:1.5; stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4; stroke-dasharray:none; stroke-opacity:1;'><path d='M 22.5,11.63 L 22.5,6' style='fill:none; stroke:"+$black+"; stroke-linejoin:miter;' id='path6570' /><path d='M 22.5,25 C 22.5,25 27,17.5 25.5,14.5 C 25.5,14.5 24.5,12 22.5,12 C 20.5,12 19.5,14.5 19.5,14.5 C 18,17.5 22.5,25 22.5,25' style='fill:"+$black+";fill-opacity:1; stroke-linecap:butt; stroke-linejoin:miter;' /><path d='M 11.5,37 C 17,40.5 27,40.5 32.5,37 L 32.5,30 C 32.5,30 41.5,25.5 38.5,19.5 C 34.5,13 25,16 22.5,23.5 L 22.5,27 L 22.5,23.5 C 19,16 9.5,13 6.5,19.5 C 3.5,25.5 11.5,29.5 11.5,29.5 L 11.5,37 z ' style='fill:"+$black+"; stroke:"+$black+";' /><path d='M 20,8 L 25,8' style='fill:none; stroke:"+$black+"; stroke-linejoin:miter;' /><path d='M 32,29.5 C 32,29.5 40.5,25.5 38.03,19.85 C 34.15,14 25,18 22.5,24.5 L 22.51,26.6 L 22.5,24.5 C 20,18 9.906,14 6.997,19.85 C 4.5,25.5 11.85,28.85 11.85,28.85' style='fill:none; stroke:"+$white+";' /><path d='M 11.5,30 C 17,27 27,27 32.5,30 M 11.5,33.5 C 17,30.5 27,30.5 32.5,33.5 M 11.5,37 C 17,34 27,34 32.5,37' style='fill:none; stroke:"+$white+";' /></g></svg>");
}
*/
