/* default*/
$background: #383B3C;
$black: #1B1D1F;
$white: #444C52;


/*
$background: #383B3C;
$black: #30566E;
$white: #AC9145;
*/


html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	padding:0;
	width: 100%;
	height: 100%;
	background-color: $background;
}

.board {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100vm; height: 100vm;
	width: 100vmin; height: 100vmin;
	margin: auto;
	background: $black;
}

/* ****************************************************************************************** */
/* ************************************** COORDINATES *************************************** */
/* ****************************************************************************************** */

@mixin coordinates() {
  $columns : 'a','b','c','d','e','f','g','h';
  $count-rows : 8;
  $square-factor : 12.5;
  
  @each $column in $columns {
    $i: index($columns, $column);
    @for $j from 1 through $count-rows { 
      $left : ($i - 1) * 12.5;
      $top : 100 - $j * 12.5;
      .#{$column}-#{$j} {
        left: #{$left}vmin; 
        top: #{$top}vmin;
         /* IE 9 */
        left: #{$left}vm;
        top: #{$top}vm;
      }
    }
  }
}

@include coordinates();

/* ****************************************************************************************** */
/* **************************************** SQUARES ***************************************** */
/* ****************************************************************************************** */

.background-square {
	width: 12.5vm; height: 12.5vm;
	width: 12.5vmin; height: 12.5vmin;
	background-color: $black;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	float: left;
}


.background-square:nth-child(n+1):nth-child(-n+8):nth-child(odd),
.background-square:nth-child(n+9):nth-child(-n+16):nth-child(even),
.background-square:nth-child(n+17):nth-child(-n+24):nth-child(odd),
.background-square:nth-child(n+25):nth-child(-n+32):nth-child(even),
.background-square:nth-child(n+33):nth-child(-n+40):nth-child(odd),
.background-square:nth-child(n+41):nth-child(-n+48):nth-child(even),
.background-square:nth-child(n+49):nth-child(-n+56):nth-child(odd),
.background-square:nth-child(n+57):nth-child(-n+64):nth-child(even) {
	background-color: $white;
}

.square {
	position: absolute;
	display:none;
}

.square + .square-label {
	position: absolute;
	width: 12.5vm; height: 12.5vm;
	width: 12.5vmin; height: 12.5vmin;
	z-index: 0;
}

.square:checked + label:after {
	color: #FFFFFF;
	content: "TEST";
}